
body{
    background-color: black;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-left: 30px;
}
.models{
    margin-left: -450px;
}
.about{
    margin-right: 30px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;

}
.title h1{
    font-size: 64px;
}
.title h6{
    font-size: 16px;
}

